* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #222222;
  color: #F1F1F1;
  position: relative;
}
body:before {
  content: "";
  position: absolute;
  background: url(../img/noise.svg);
  z-index: 4;
  opacity: 0.09;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

section {
  position: relative;
  z-index: 3;
}

.container {
  width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

button {
  cursor: pointer;
}

ul {
  cursor: pointer;
}

.header {
  padding: 38px 0 120px 0;
}
.header-ellipse1 {
  position: absolute;
  z-index: 2;
  opacity: 0.2;
  left: 590px;
  top: 0px;
  width: 447px;
}
.header-ellipse2 {
  position: absolute;
  z-index: 2;
  opacity: 0.5;
  right: 0px;
  top: 0px;
  width: 860px;
}
.header-ellipse3 {
  position: absolute;
  z-index: 2;
  opacity: 0.3;
  right: 0px;
  top: 0px;
  width: 860px;
}
.header-ellipse4 {
  position: absolute;
  z-index: 2;
  opacity: 0.5;
  left: 0px;
  top: 600px;
  width: 860px;
}
.header-img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  max-width: 1050px;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 90px;
  z-index: 5;
  position: relative;
}
.header-top-menu {
  display: flex;
  list-style: none;
  margin-left: -250px;
}
.header-top-menu-item {
  font-size: 12px;
  margin-right: 40px;
}
.header-top-menu-button {
  padding: 15px 35px;
  font-size: 14px;
  font-weight: bold;
  color: #151515;
  background-color: #F1F1F1;
  border-radius: 65px;
  border: none;
  cursor: pointer;
}
.header-cover {
  z-index: 5;
  position: relative;
}
.header-cover-heading {
  font-weight: 600;
  font-size: 68px;
  line-height: 100%;
  margin-bottom: 50px;
}
.header-cover-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: #FF4C0D;
  margin-bottom: 60px;
}
.header-cover-button {
  position: relative;
  margin-bottom: 248px;
}
.header-cover-button-black {
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  color: #F1F1F1;
  padding: 15px 35px 11px 145px;
  border-radius: 65px;
  border: 3px solid #F1F1F1;
  background-color: transparent;
}
.header-cover-button-white {
  position: absolute;
  left: 0;
  color: #151515;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  padding: 15px 35px;
  background-color: #F1F1F1;
  border-radius: 65px;
  border: none;
}
.header-benefits {
  z-index: 5;
  position: relative;
}
.header-benefits-heading {
  font-weight: 500;
  font-size: 43px;
  line-height: 110%;
  margin-bottom: 60px;
}

.benefits-wrapper {
  display: flex;
}
.benefits-card {
  width: 365px;
  margin-bottom: 28px;
}
.benefits-card-title {
  width: 365px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #8f7a74;
  color: #8f7a74;
  text-align: left;
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  margin-bottom: 20px;
  padding: 0 0 15px 30px;
}
.benefits-card-text {
  color: #8f7a74;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  padding: 0 0 0 30px;
}
.benefits-img {
  display: flex;
  justify-content: space-between;
}
.benefits-img-left {
  background: linear-gradient(0deg, rgba(232, 181, 119, 0.3), rgba(232, 181, 119, 0.3)), url(.png);
  background-blend-mode: soft-light, normal;
  border-radius: 15px;
  max-width: 700px;
  z-index: 5;
}
.benefits-img-right {
  background: linear-gradient(0deg, rgba(232, 181, 119, 0.3), rgba(232, 181, 119, 0.3)), url(.png);
  background-blend-mode: soft-light, normal;
  border-radius: 15px;
  max-width: 340px;
  max-height: 280px;
}
.benefits-line {
  position: absolute;
  bottom: -120px;
  left: -216px;
  z-index: 4;
}

.active-title {
  border-bottom: 2px solid #FF4C0D;
  color: #F1F1F1;
  padding: 0 20px 15px 0;
}
.active-text {
  color: #F1F1F1;
  padding: 0;
}

.banner {
  padding: 120px 0 120px 0;
  background: url(../img/banner-bg.jpg);
}
.banner-wrapper {
  width: 387px;
  z-index: 2;
}
.banner-logo {
  margin-bottom: 150px;
}
.banner-title {
  font-weight: 500;
  font-size: 43px;
  line-height: 110%;
  margin-bottom: 30px;
}
.banner-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  width: 358px;
}
.banner-ellipse {
  position: absolute;
  top: -420px;
  right: 0;
}

.design {
  padding: 100px 0 100px 0;
}
.design-wrapper {
  position: relative;
  z-index: 3;
}
.design-title {
  font-weight: 500;
  font-size: 43px;
  line-height: 110%;
  color: #FF4C0D;
  max-width: 70%;
  margin-bottom: 60px;
}
.design-line-top {
  position: absolute;
  top: 0;
  right: 0;
}
.design-line-bottom {
  position: absolute;
  top: 560px;
  left: 0;
}
.design-ellipse-top {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.design-ellipse-bottom {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
}
.card-left {
  background: url(../img/design-card.jpg);
  width: 530px;
  height: 530px;
  border-radius: 25px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.card-right {
  background: url(../img/design-card-right.jpg);
  width: 530px;
  height: 530px;
  border-radius: 25px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.card-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
}
.card-text {
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
}

.safety {
  padding-bottom: 100px;
}
.safety-ellipse-top {
  position: absolute;
  z-index: 1;
}
.safety-line {
  position: absolute;
  bottom: -190px;
  right: 0;
  z-index: 4;
}
.safety-heading {
  color: #FF4C0D;
  font-weight: 500;
  font-size: 43px;
  line-height: 110%;
  margin-bottom: 55px;
}
.safety-wrapper {
  display: flex;
  position: relative;
  z-index: 3;
}
.safety-card {
  width: 270px;
  margin-bottom: 28px;
}
.safety-card-title {
  width: 270px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #8f7a74;
  color: #8f7a74;
  text-align: left;
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  margin-bottom: 20px;
  padding: 0 0 15px 19px;
}
.safety-card-text {
  color: #8f7a74;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  padding: 0 20px 0 20px;
}
.safety-active-title {
  border-bottom: 2px solid #FF4C0D;
  color: #F1F1F1;
  padding: 0 20px 15px 0;
}
.safety-active-text {
  color: #F1F1F1;
  padding: 0;
}
.safety-img {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  position: relative;
}
.safety-img-left {
  border-radius: 30px;
  max-width: 690px;
  z-index: 5;
  position: relative;
}
.safety-img-right {
  border-radius: 30px;
  max-width: 350px;
  height: 290px;
  z-index: 3;
}

.mobile-ellipse-top {
  position: absolute;
  right: 0;
  bottom: -150px;
  z-index: 3;
}
.mobile-ellipse-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
}
.mobile-wrapper {
  display: flex;
  position: relative;
  z-index: 4;
}
.mobile-wrapper-title {
  width: 525px;
  color: #FF4C0D;
  font-weight: 500;
  font-size: 43px;
  line-height: 110%;
  margin-bottom: 30px;
  margin-right: 70px;
}
.mobile-wrapper-text {
  max-width: 358px;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 50px;
}
.mobile-descr {
  margin-top: 120px;
}
.mobile-img {
  width: 400px;
  height: 575px;
}
.mobile-button {
  display: flex;
}
.mobile-button-apple {
  display: flex;
  padding: 7px 10px;
  background-color: #F1F1F1;
  border-radius: 10px;
  border: none;
  margin-right: 20px;
}
.mobile-button-google {
  display: flex;
  padding: 7px 10px;
  background-color: #F1F1F1;
  border-radius: 10px;
  border: none;
}
.mobile-button-img {
  margin-right: 6px;
  width: 24px;
  height: 30px;
}
.mobile-button-text {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.mobile-button-text-top {
  font-weight: normal;
  font-size: 11px;
}
.mobile-button-text-bottom {
  font-weight: 600;
  font-size: 16px;
}

.brand {
  background: url(../img/brand.jpg);
  padding: 120px 0 120px 0;
  position: relative;
  background-size: cover;
}
.brand-wrapper {
  width: 460px;
}
.brand-logo {
  width: 60px;
  height: 39px;
  margin-bottom: 145px;
}
.brand-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 110%;
  color: #FF4C0D;
  margin-bottom: 30px;
}
.brand-about-top {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #151515;
  margin-bottom: 10px;
}
.brand-about-bottom {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #151515;
}
.brand-dots-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  height: 90px;
  top: 250px;
  right: 140px;
}
.brand-dot {
  width: 10px;
  height: 10px;
  background-color: #c0bab3;
  border-radius: 50%;
}
.brand .black {
  background-color: #151515;
}

.review {
  position: relative;
  z-index: 99;
  padding-top: 100px;
}
.review-ellipse {
  position: absolute;
  top: 0;
  right: 0;
}
.review-line {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.review-title {
  font-style: normal;
  font-weight: 500;
  font-size: 43px;
  line-height: 110%;
  color: #FF4C0D;
  margin-bottom: 50px;
}
.review-wrapper-card-title {
  font-weight: 600;
  font-size: 18x;
  line-height: 120%;
  margin-bottom: 20px;
}
.review-wrapper-card-line {
  width: 80px;
  height: 3px;
  background-color: #FF4C0D;
  margin-bottom: 20px;
}
.review-wrapper-card-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
}
.review-buttons {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 99;
  margin-top: 50px;
}
.review-buttons-left-btn {
  padding: 15px 35px;
  background-color: #F1F1F1;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  border-radius: 65px;
  border: none;
  color: #151515;
}
.review-buttons-right {
  display: flex;
  justify-content: space-between;
  width: 123px;
}
.review-buttons-right-prev {
  width: 54px;
  height: 54px;
  border: none;
  border-radius: 50%;
  padding: 14px;
  background-color: #F1F1F1;
}
.review-buttons-right-next {
  width: 54px;
  height: 54px;
  border: none;
  border-radius: 50%;
  padding: 14px;
  background-color: #FF4C0D;
}

.carousel-cell {
  width: 415px;
  margin-left: 30px;
  background-color: #151515;
  border-radius: 15px;
  padding: 38px;
}

.questions {
  padding: 115px 0 115px 0;
}
.questions-ellipse {
  position: absolute;
  left: 0;
  top: -350px;
  opacity: 0.8;
}
.questions-wrapper {
  display: flex;
  justify-content: space-between;
}
.questions-wrapper-heading {
  display: flex;
  flex-direction: column;
  width: 415px;
  align-items: flex-start;
}
.questions-wrapper-heading-title {
  font-weight: 500;
  font-size: 43px;
  line-height: 110%;
  color: #FF4C0D;
  margin-bottom: 20px;
}
.questions-wrapper-heading-text {
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  margin-bottom: 10px;
  width: 280px;
}
.questions-wrapper-heading-button {
  background-color: #F1F1F1;
  border-radius: 65px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  padding: 15px 30px;
  margin-top: 45px;
}
.questions-wrapper-right {
  width: 640px;
}
.questions-wrapper-right-item {
  margin-bottom: 40px;
}
.questions-wrapper-right-item-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 10px;
}
.questions-wrapper-right-item-line {
  width: 100px;
  height: 2px;
  background-color: #FF4C0D;
  margin-bottom: 10px;
}
.questions-wrapper-right-item-text {
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
}

.price-line {
  position: absolute;
  top: -159px;
  z-index: 2;
  width: 1349px;
}
.price-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 59px;
  background: #151515;
  border-radius: 15px;
  position: relative;
  z-index: 3;
}
.price-wrapper-img {
  position: absolute;
  right: 35px;
  top: -100px;
  width: 950px;
}
.price-wrapper-left {
  width: 78%;
}
.price-wrapper-left-title {
  font-weight: 500;
  font-size: 43px;
  line-height: 110%;
  margin-bottom: 10px;
}
.price-wrapper-left-cost {
  font-size: 26px;
  color: #FF4C0D;
  font-weight: 500;
  margin-bottom: 35px;
}
.price-wrapper-left-buy {
  background-color: #FF4C0D;
  border-radius: 65px;
  padding: 15px 35px;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  border: none;
  color: #F1F1F1;
}
.price-wrapper-left-button {
  position: relative;
  margin-bottom: 195px;
}
.price-wrapper-left-button-black {
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  color: #F1F1F1;
  padding: 15px 35px 11px 145px;
  border-radius: 65px;
  border: 3px solid #F1F1F1;
  background-color: transparent;
}
.price-wrapper-left-button-white {
  position: absolute;
  left: 0;
  color: #151515;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  padding: 15px 35px;
  background-color: #F1F1F1;
  border-radius: 65px;
  border: none;
}
.price-wrapper-right {
  width: 22%;
  display: flex;
  flex-direction: column;
}
.price-wrapper-right-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 29px;
}
.price-wrapper-right-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 15px;
  text-align: left;
}

.footer {
  padding: 60px 0 40px 0;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
}
.footer-wrapper-left {
  display: flex;
  flex-direction: column;
}
.footer-wrapper-right {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.footer-wrapper-text {
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  margin-bottom: 20px;
}/*# sourceMappingURL=style.css.map */