body.light-mode
    background-color: #E0E0E0
    .header
        &-bike
            &-white
                display: none
            &-black
                display: block

        &-top
            &-menu
                &-list
                    color: $dark-color
            &-logo
                &-white
                    display: none
                &-orange
                    display: block

        &-cover
            &-heading
                color: $orange-text
            &-text
                color: $dark-color
        &-benefits
            &-heading
                color: $dark-color
            &-card
                &-title
                    &-active
                        color: $orange-text
                &-text
                    &-active
                        color: $dark-color
    .swich-button
        &-white
            @include swich-button-white-light-mode
        &-black
            @include swich-button-black-light-mode
    .design
        &-title
            color: $dark-color
    .safety
        &-card
            &-title
                &-active
                    color: $orange-text
            &-text
                &-active
                    color: $dark-color
    .mobile
        &-wrapper
            &-text
                color: $dark-color
        &-button
            &-apple
                background-color: #000000
                color: #FFFFFF
            &-google
                background-color: #000000
                color: #FFFFFF
            &-img
                &-black
                    display: none
                &-white
                    display: block
        &-img
            &-white
                width: 400px
                height: 575px
                display: none
            &-black
                width: 400px
                height: 575px
                display: block
    .review
        &-wrapper
            &-card
                background-color: $text-color
                &-title
                    color: $dark-color
                &-line
                    background-color: $dark-color
                &-text
                    color: $dark-color
    .questions
        &-wrapper
            &-heading
                &-text
                    color: $dark-color
            &-right
                &-item
                    &-title
                        color: $dark-color
                    &-text
                        color: $dark-color
    .price
        &-wrapper
            background-color: $text-color
            &-img
                &-white
                    display: none
                &-black
                    display: block
            &-left
                &-title
                    color: $dark-color
            &-right
                &-title
                    color: $dark-color
                &-item
                    color: $dark-color
    .footer
        &-wrapper
            &-text
                color: $dark-color
