@media (max-width: 1200px)
    .container
        width: 960px
    .header
        &-top
            &-menu
                margin-left: -190px
        &-benefits
            &-card
                width: 310px
                &-title
                    width: 310px
            &-img
                &-left
                    width: 610px
                &-right
                    width: 300px
                    height: 240px
    .design
        &-card
            &-left
                width: 450px
                height: 450px
            &-right
                width: 450px
                height: 450px
    .safety
        &-card
            width: 240px
            &-title
                width: 240px
        &-img
            &-left
                width: 620px
            &-right
                width: 280px
                height: 220px
    .review
        &-wrapper
            width: 100%
    .carousel-cell
        width: 350px
