.banner
   padding: 120px 0 120px 0
   background: url(../img/banner-bg.jpg)
   &-wrapper 
      width: 387px
      z-index: 2
   &-logo
      margin-bottom: 150px
   &-title
      font-weight: 500
      font-size: 43px
      line-height: 110%
      margin-bottom: 30px
   &-text
      font-weight: normal
      font-size: 14px
      line-height: 150%
      width: 358px

   &-ellipse
      position: absolute
      top: -420px
      right: 0
