.banner
   padding: 120px 0
   background: url(../img/banner-bg.jpg)
   &-wrapper
      width: 387px
   &-logo
      margin-bottom: 150px
   &-title
      @include large-text
      margin-bottom: 30px
   &-text
      @include average-text
      width: 358px

   &-ellipse
      @include img-setting
      top: -420px
      right: 0
      width: 80%
