.brand
    background: url(../img/brand.jpg)
    padding: 120px 0 120px 0
    position: relative
    background-size: cover
    &-wrapper
        width: 460px
    &-logo
        width: 60px
        height: 39px
        margin-bottom: 145px
    &-title
        @include large-text
        color: $orange-text
        margin-bottom: 30px
    &-about
        &-top
            @include average-text
            color: $dark-color
            margin-bottom: 10px
        &-bottom
            @include average-text
            color: $dark-color
