.design
   padding: 100px 0 100px 0
   &-line
      &-top
         @include img-setting
         top: 0
         right: 0
         width: 20%
      &-bottom
         @include img-setting
         top: 560px
         left: 0
         width: 25%
   &-ellipse
      &-top
         @include img-setting
         top: 0
         right: 0
         width: 80%
      &-bottom
         @include img-setting
         top: 0
         left: 0
         width: 70%
   &-wrapper
      @include common-setting
   &-title
      @include large-text
      color: $orange-text
      width: 70%
      margin-bottom: 60px
   &-card
      &-wrapper
         display: flex
         justify-content: space-between
      &-left
         background: url(../img/design-card.jpg)
         width: 47%
         height: 530px
         border-radius: 25px
         padding: 50px
         display: flex
         flex-direction: column
         justify-content: end
      &-right
         background: url(../img/design-card-right.jpg)
         width: 47%
         height: 530px
         border-radius: 25px
         padding: 50px
         display: flex
         flex-direction: column
         justify-content: end
      &-title
         margin-bottom: 20px
         font-weight: 600
         font-size: 16px
         line-height: 120%
      &-text
         @include small-text
      &-img
         display: none
