.header
   padding: 38px 0 120px 0
   &-ellipse1
      @include img-setting
      opacity: 0.2
      left: 590px
      top: 0px
      width: 20%

   &-ellipse2
      @include img-setting
      opacity: 0.5
      right: 0px
      top: 0px
      width: 60%

   &-ellipse3
      @include img-setting
      opacity: 0.3
      right: 0px
      top: 0px
      width: 60%

   &-ellipse4
      @include img-setting
      opacity: 0.5
      left: 0px
      top: 600px
      width: 60%
   &-bike
      &-white
         @include img-setting
         display: block
         top: 0
         right: 0
         width: 90%
         &-small
            display: none
      &-black
         @include img-setting
         display: none
         top: 0
         right: 0
         width: 90%
         &-small
            display: none
   &-top
      @include common-setting
      display: flex
      justify-content: space-between
      margin-bottom: 90px
      &-logo
         &-white
            display: block
            margin-right: 80px
         &-orange
            display: none
            margin-right: 80px
      &-menu
         &-left
            display: flex
            justify-content: space-between
            align-items: center
         &-list
            display: flex
            list-style: none
         &-item
            @include small-text
            margin-right: 40px
         &-burger
            display: none
      &-button
         @include button
         color: #151515
         background-color: #F1F1F1

   &-cover
      @include common-setting
      &-heading
         font-weight: 600
         font-size: 68px
         line-height: 100%
         margin-bottom: 50px
      &-text
         font-weight: 500
         font-size: 24px
         line-height: 120%
         color: $orange-text
         margin-bottom: 60px

   &-benefits
      @include common-setting
      &-heading
         margin-bottom: 60px
         margin-top: 248px
         @include large-text
      &-wrapper
         display: flex
         width: 100%
      &-card
         width: 33%
         margin-bottom: 28px
         &-title
            width: 100%
            background-color: transparent
            border: none
            border-bottom: 2px solid #8f7a74
            color: #8f7a74
            text-align: left
            @include average-text
            margin-bottom: 20px
            padding: 0 0 15px 30px
            &-active
               border-bottom: 2px solid $orange-text
               color: $text-color
               padding: 0 20px 15px 0
         &-text
            color: #8f7a74
            @include small-text
            padding-left: 30px
            &-active
               color: $text-color
               padding: 0
      &-img
         display: flex
         justify-content: space-between
         &-left
            background: linear-gradient(0deg, rgba(232, 181, 119, 0.3), rgba(232, 181, 119, 0.3)), url(.png)
            background-blend-mode: soft-light, normal
            border-radius: 15px
            width: 65%
            z-index: 5
         &-right
            background: linear-gradient(0deg, rgba(232, 181, 119, 0.3), rgba(232, 181, 119, 0.3)), url(.png)
            background-blend-mode: soft-light, normal
            border-radius: 15px
            width: 30%
            max-height: 280px
         &-small
            display: none
      &-line
         @include img-setting
         bottom: -120px
         left: -216px

.swich-button
   position: relative
   &-black
      @include swich-button-black
   &-white
      @include swich-button-white
