.mobile
   &-ellipse
      &-top
         @include img-setting
         right: 0
         bottom: -150px
         width: 80%
      &-bottom
         @include img-setting
         left: 0
         bottom: 0
         width: 80%
   &-wrapper
      display: flex
      @include common-setting
      &-title
         color: $orange-text
         @include large-text
         margin-bottom: 30px
         width: 80%
      &-text
         @include average-text
         margin-bottom: 50px
         width: 60%

   &-descr
      margin-top: 120px
      width: 60%

   &-img
      width: 40%
      &-white
         display: block
         width: 90%
      &-black
         display: none
         width: 90%

   &-button
      display: flex
      &-apple
         display: flex
         padding: 7px 10px
         background-color: #F1F1F1
         border-radius: 10px
         border: none
         margin-right: 20px
      &-google
         display: flex
         padding: 7px 10px
         background-color: #F1F1F1
         border-radius: 10px
         border: none
      &-img
         &-black
            margin-right: 6px
            width: 24px
            height: 30px
            display: block
         &-logo
            margin-right: 6px
            width: 24px
            height: 30px
            display: block
         &-white
            margin-right: 6px
            width: 24px
            height: 30px
            display: none
      &-text
         display: flex
         flex-direction: column
         text-align: left
         &-top
            @include small-text
            color: $dark-color
         &-bottom
            font-weight: 600
            font-size: 14px
            color: $dark-color
