.price
    &-line
        position: absolute
        top: -159px
        z-index: 2
        width: 1349px
    &-wrapper
        display: flex
        justify-content: space-between
        padding: 59px
        background: #151515
        border-radius: 15px
        position: relative
        z-index: 3

        &-img
            &-white
                position: absolute
                right: -130px
                top: -100px
                width: 950px
                display: block
            &-black
                position: absolute
                right: -130px
                top: -100px
                width: 950px
                display: none

        &-left
            width: 78%
            position: relative
            z-index: 3
            &-title
                @include large-text
                margin-bottom: 10px
            &-cost
                font-size: 26px
                color: $orange-text
                font-weight: 500
                margin-bottom: 35px
            &-buy
                background-color: $orange-text
                border-radius: 65px
                padding: 15px 35px
                font-weight: bold
                font-size: 16px
                line-height: 150%
                border: none
                color: $text-color

        &-right
            width: 22%
            display: flex
            flex-direction: column
            position: relative
            z-index: 3
            &-title
                font-weight: 600
                font-size: 20px
                line-height: 120%
                margin-bottom: 29px
            &-item
                @include average-text
                margin-bottom: 15px
                text-align: left

// .swich-button
//     position: relative
//     margin-bottom: 195px
//     &-black
//         @include swich-button-black
//     &-white
//         @include swich-button-white
