.price
    &-line
        position: absolute
        top: -159px
        z-index: 2
        width: 1349px
    &-wrapper
        display: flex
        justify-content: space-between
        padding: 59px
        background: #151515
        border-radius: 15px
        position: relative
        z-index: 3
        &-img
            &-white
                position: absolute
                right: 0
                top: -70px
                width: 55%
                display: block
                &-small
                    display: none
            &-black
                position: absolute
                right: 0
                top: -70px
                width: 55%
                display: none
                &-small
                    display: none
        &-left
            width: 78%
            position: relative
            z-index: 3
            &-title
                @include large-text
                margin-bottom: 10px
            &-cost
                font-size: 26px
                color: $orange-text
                font-weight: 500
                margin-bottom: 35px
            &-buy
                @include button
                background-color: $orange-text
                color: $text-color
                margin-top: 250px
        &-right
            width: 22%
            display: flex
            flex-direction: column
            @include common-setting
            &-title
                font-weight: 600
                font-size: 20px
                line-height: 120%
                margin-bottom: 29px
            &-item
                @include average-text
                margin-bottom: 15px
                text-align: left
