.questions
    padding: 115px 0
    &-ellipse
        @include img-setting
        left: 0
        top: -350px
        opacity: 0.8
        width: 50%
    &-wrapper
        display: flex
        justify-content: space-between
        @include common-setting
        width: 100%
        &-heading
            display: flex
            flex-direction: column
            width: 40%
            align-items: flex-start
            &-title
                @include large-text
                color: $orange-text
                margin-bottom: 20px
            &-text
                @include small-text
                margin-bottom: 10px
                width: 70%
            &-button
                @include button
                background-color: #F1F1F1
                margin-top: 45px

        &-right
            @include common-setting
            width: 60%
            &-item
                margin-bottom: 40px
                &-title
                    font-weight: 500
                    font-size: 18px
                    line-height: 120%
                    margin-bottom: 10px
                &-line
                    width: 100px
                    height: 2px
                    background-color: $orange-text
                    margin-bottom: 10px
                &-text
                    @include small-text
