.review
    position: relative
    z-index: 99
    padding-top: 100px
    &-ellipse
        position: absolute
        top: 0
        right: 0
    &-line 
        position: absolute
        top: 0
        right: 0
        z-index: 2
    &-title
        font-style: normal
        font-weight: 500
        font-size: 43px
        line-height: 110%
        color: $orange-text
        margin-bottom: 50px
    &-wrapper
        &-card
            &-title
                font-weight: 600
                font-size: 18x
                line-height: 120%
                margin-bottom: 20px
            &-line
                width: 80px
                height: 3px
                background-color: $orange-text
                margin-bottom: 20px
            &-text
                font-weight: 500
                font-size: 12px
                line-height: 150%

    &-buttons
        display: flex
        justify-content: space-between
        position: relative
        z-index: 99
        margin-top: 50px
        &-left
            &-btn 
                padding: 15px 35px
                background-color: $text-color
                font-weight: bold
                font-size: 16px
                line-height: 150%
                border-radius: 65px
                border: none
                color: #151515
        &-right
            display: flex
            justify-content: space-between
            width: 123px
            &-prev
                width: 54px
                height: 54px
                border: none
                border-radius: 50%
                padding: 14px
                background-color: $text-color
            &-next 
                width: 54px
                height: 54px
                border: none
                border-radius: 50%
                padding: 14px
                background-color: $orange-text

.carousel-cell 
  width: 415px
  margin-left: 30px
  background-color: #151515
  border-radius: 15px
  padding: 38px
