.review
    position: relative
    z-index: 4
    padding-top: 100px
    &-ellipse
        @include img-setting
        top: 0
        right: 0
    &-line
        @include img-setting
        top: 0
        right: 0
    &-title
        @include large-text
        color: $orange-text
        margin-bottom: 50px
    &-wrapper
        @include common-setting
        &-card
            &-title
                font-weight: 600
                font-size: 18x
                line-height: 120%
                margin-bottom: 20px
            &-line
                width: 80px
                height: 3px
                background-color: $orange-text
                margin-bottom: 20px
            &-text
                @include small-text

    &-buttons
        display: flex
        justify-content: space-between
        @include common-setting
        margin-top: 50px
        &-left
            &-btn
                position: relative
                z-index: 5
                @include button
                padding: 15px 35px
                background-color: $text-color
                color: #151515
        &-right
            display: flex
            justify-content: space-between
            width: 123px
            &-prev
                width: 54px
                height: 54px
                border: none
                border-radius: 50%
                padding: 14px
                background-color: $text-color
            &-next
                width: 54px
                height: 54px
                border: none
                border-radius: 50%
                padding: 14px
                background-color: $orange-text

.carousel-cell
    width: 415px
    margin-left: 30px
    background-color: #151515
    border-radius: 15px
    padding: 38px
