.safety
   padding-bottom: 100px
   &-ellipse
      &-top
         @include img-setting
         width: 80%
   &-line
      position: absolute
      bottom: -190px
      right: 0
      z-index: 4
      width: 40%
   &-heading
      color: $orange-text
      @include large-text
      margin-bottom: 55px
   &-wrapper
      @include common-setting
      display: flex
      width: 100%
   &-card
      width: 25%
      margin-bottom: 28px
      &-title
         width: 100%
         background-color: transparent
         border: none
         border-bottom: 2px solid #8f7a74
         color: #8f7a74
         text-align: left
         @include average-text
         margin-bottom: 20px
         padding: 0 0 15px 19px
      &-text
         color: #8f7a74
         @include small-text
         padding: 0 20px
      &-img
         display: none
   &-img
      display: flex
      justify-content: space-between
      position: relative
      &-left
         border-radius: 30px
         width: 65%
         z-index: 5
         position: relative
      &-right
         border-radius: 30px
         width: 30%
         height: 290px
         z-index: 3
